.loader {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #727272;
    border-bottom: 5px solid #727272;
    position: relative;
    background: linear-gradient(#fd7a7a 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    -webkit-animation: spinx 5s linear infinite;
    animation: spinx 5s linear infinite;
}
.loader:before,
.loader:after {
    content: '';
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    -webkit-animation: lqt 5s linear infinite;
    animation: lqt 5s linear infinite;
}
.loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    -webkit-animation: lqb 5s linear infinite;
    animation: lqb 5s linear infinite;
}
@-webkit-keyframes lqt {
    0%,
    100% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0% 40px;
    }
    50.1% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0% -40px;
    }
}
@keyframes lqt {
    0%,
    100% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0% 0px;
    }
    50% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0% 40px;
    }
    50.1% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0% -40px;
    }
}
@-webkit-keyframes lqb {
    0% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0 40px;
    }
    100% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0 -40px;
    }
}
@keyframes lqb {
    0% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0 40px;
    }
    100% {
        background-image: linear-gradient(#ff3d00 40px, transparent 0);
        background-position: 0 -40px;
    }
}
@-webkit-keyframes spinx {
    0%,
    49% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-position: 50% 36px;
    }
    51%,
    98% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background-position: 50% 4px;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        background-position: 50% 36px;
    }
}
@keyframes spinx {
    0%,
    49% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-position: 50% 36px;
    }
    51%,
    98% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background-position: 50% 4px;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        background-position: 50% 36px;
    }
}
